<div class="filter-list <%= className %>">
  <h6 class="filter-list__title"><%= title %></h6>

  <ul class="filter-list__items">
    <li class="filter-list__item">
      <a href="#" class="filter-list__link is-active" data-filter-data="*">
        <%= titleAll %>
      </a>
    </li>
    <% items.forEach(item => { %>
    <li class="filter-list__item">
      <a href="#" class="filter-list__link" data-filter-data="<%= item.value %>">
        <%= item.title %>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
