<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= (typeof(Title) === 'string') ? Title : 'ZoOpgelost, van essent' %></title>
  <% if (process.env.NODE_ENV === 'production') { %>
  <link rel="stylesheet" href="/assets/css/style.min.css">
  <% } else { %>
  <link rel="stylesheet" href="/assets/css/style.css">
  <% }%>
  <% if (typeof(DTM_URL) != 'undefined') { %>
  <script src="<%- DTM_URL %>"></script>
  <% } %>
</head>
<body>
<%- partial('components/header') %>

<div class="site-body">
  <%- body -%>
</div>
<%- partial('components/footer') %>

<% if (process.env.NODE_ENV === 'production') { %>
<script src="/assets/js/main.min.js"></script>
<% } else { %>
<script src="/assets/js/main.js"></script>
<% }%>
<% if (typeof(DTM_URL) != 'undefined') { %>
<script type="text/javascript">_satellite.pageBottom();</script>
<% } %>
</body>
</html>
