<% layout('layouts/default') %>


<div class="section section--alternative">
  <div class="container">
    <%- partial('partials/funnel/breadcrumbs', {currentStep: 4}) %>
  </div>
</div>
<div class="section">
  <div class="container">

    <h1 class="page-title text-bold">We komen uw klus klaren!</h1>

    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-5 col-sm-4">


          <p>Dit gaat er gebeuren:</p>
          <ol class="appointment-confirmation">
            <li>U ontvangt binnen een paar minuten een bevestigingsmail op <%= user.Email %></li>
            <li>24 uur voor de afspraak ontvangt u van ons een reminder</li>
            <li>Eén uur voor de afspraak sturen we een sms</li>
            <li>U kunt alvast wat dingen voorbereiden: <span style="color: red">AANVULLEN MET INFO DIE NODIG IS VANUIT KLUS</span></li>
            <li>Onze expert gaat aan de slag en u betaalt pas als alles naar wens is</li>
          </ol>
          <p>
            <a href="/account/" class="btn">Wijzig hier uw klus</a>
          </p>


      </div>
      <div class="col-offset-xl-2 col-xl-4 col-offset-lg-1 col-lg-4 col-md-3 col-sm-4 hidden-sm-down col--overflow">
        <div class="sidebar">
          <div class="sidebar__header">
            <%- partial('partials/funnel/sidebar/receipt') %>
          </div>
          <div class="sidebar__content">
            <%- partial('partials/funnel/sidebar/promotion') %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="section section--alternative">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-5 col-sm-4">
        <h2 class="section-title">Afspraakdetails</h2>

        <div class="appointment-details">

          <div class="appointment-details__group">

            <ul>
              <li><%= job.Description %> (€ <%= Currency(user.HasSubscription ? job.DiscountPrice : job.NormalPrice) %>)</li>
              <li><%- LocaleDate(order.Date) %> tussen <%- order.Times.join(' en ') %></li>
              <li><%= user.Street %> <%= user.HouseNumber%> <%= user.Addition %> <%= PostCode(user.PostCode) %> <%= user.City %></li>
            </ul>
          </div>

          <div class="appointment-details__group">

            <% if (order.Comments || (order.Photos && order.Photos.length)) { %>
            <h6 class="text-bold">Toelichting</h6>
              <% if (order.Comments) { %>
              <p>
                <%= order.Comments %>
              </p>
              <% } %>
              <% if (order.Photos && order.Photos.length) { %>
                <div>
                  Bijlagen (<%- order.Photos.length %>)
                  "<%= order.Photos.map(filename => filename.split('__').slice(1).join('__')).join('", "') %>"
                </div>
              <% } %>
            <% }%>
          </div>
          <div class="appointment-details__group">

            <h6 class="text-bold"><%- user.HasSubscription ? 'Premium pakket' : 'Basispakket' %></h6>
            <ul>
              <li><%= user.FirstName %> <%= user.LastName %></li>
              <li><%= user.Email %></li>
              <li><%= user.PhoneNumber %></li>
            </ul>
          </div>
        </div>

        <div class="form__buttons form__buttons--alternative">
          <a href="/" class="btn btn--link form__button--back">home</a>
          <a href="/account" class="btn">Naar mijn account</a>
        </div>
      </div>
      <div class="col-sm-4 hidden-md-up">
        <%- partial('partials/funnel/sidebar/receipt') %>
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>
    </div>
    </div>
  </div>
</div>
