<% layout('layouts/default') %>
<div class="section section--alternative">
  <div class="container">
    <%- partial('partials/funnel/breadcrumbs', {currentStep: 3}) %>
  </div>
</div>
<section class="section">
  <div class="container">
    <h1 class="page-title">Vul je gegevens in</h1>
    <div class="row">
      <div class="col-6 col-md-4 col-sm-4">
        <p class="page-subtitle">Maak binnen 2 minuten een account aan of <a href="login"
            class="link">login</a></p>

        <form action="" class="form form--contact-details" id="form-contact-details">

          <div class="form__row">
            <div class="form__col">
              <div class="form__group">
                <label for="firstname" class="form__label">Voornaam</label>
                <input type="text" name="firstname"  class="form__control" placeholder="voornaam"/>
              </div>
            </div>
            <div class="form__col">
              <div class="form__group">
                <label for="lastname" class="form__label">Achternaam</label>
                <input type="text" class="form__control" name="lastname" placeholder="achternaam" required/>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col form__col--full">
              <div class="form__group">
                <label for="email" class="form__label">E-mailadres</label>
                <input type="email" name="email" class="form__control" placeholder="e-mailadres" required/>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <div class="form__group">
                <label for="mobilenumber" class="form__label">Telefoonnummer</label>
                <input type="tel" class="form__control" name="phonenumber" placeholder="" required/>
              </div>
            </div>
          </div>
          <p>Je ontvangt een (gratis) sms een uur voor de afspraak</p>
          <div class="form__row">
            <div class="form__col">
              <div class="form__group">
                <label for="postcode" class="form__label">Postcode</label>
                <input type="text" class="form__control" name="postcode" placeholder="Bijv. 1234AB" required/>
              </div>
            </div>
            <div class="form__col">
              <div class="form__group">

                <label for="housenumber" class="form__label">Huisnummer + toevoeging</label>

                <div class="form__row form__row--secondary">
                  <div class="form__col">
                    <input type="number" class="form__control" name="housenumber" placeholder="" required/>
                  </div>
                  <div class="form__col">
                    <input type="number" class="form__control" placeholder=""/>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="form__row">
            <div class="form__col">
              <div class="form__group">

                <label for="password" class="form__label">Wachtwoord</label>
                <input type="password" class="form__control" id="password"
                  name="password"  placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" required/>
              </div>
            </div>
            <div class="form__col">
              <div class="form__group">

                <label for="repeat-password" class="form__label">Controle</label>
                <input type="password" class="form__control" name="password_confirm"
                  placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" required/>
              </div>
            </div>
          </div>


        </form>

      </div>

      <div class="col-lg-4 col-xl-4 col-offset-lg-2 col-offset-xl-2 col-md-4 hidden-sm-down">
        <div class="sidebar">
          <div class="sidebar__header">
            <%- partial('partials/funnel/sidebar/receipt--with-edit') %>
          </div>
          <div class="sidebar__content">
            <%- partial('partials/funnel/sidebar/promotion') %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="section section--alternative">
  <div class="container">

    <div class="row">
      <div class="col-xl-6 col-lg-8 col-md-6 col-sm-4">
        <h2 class="section-title">Kies je abonnement</h2>
        <%- partial('components/subscription') %>


        <div class="form__group">
          <input type="checkbox" name="" required/>
          <label for="">Ik ga akkord met <a href="" class="link"> de algemene voorwaarden</a></label>
        </div>
        <div class="form__buttons">
          <a href="/funnel/" class="btn btn--link btn--link-icon form__button--back">terug</a>
          <a href="" class="btn js-btn-submit form__button--submit">bevestigen</a>
        </div>
      </div>
      <div class="col-sm-4 hidden-md-up">
        <div class="sidebar">
          <div class="sidebar__header">
            <%- partial('partials/funnel/sidebar/receipt--with-edit') %>
          </div>
          <div class="sidebar__content">
            <%- partial('partials/funnel/sidebar/promotion') %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


