<% layout('layouts/default') %>


<div class="section section--alternative">
  <div class="container">
    <%- partial('partials/funnel/breadcrumbs', {currentStep: 2}) %>
  </div>
</div>
<div class="section">
  <div class="container">

    <h1 class="page-title">Afspraak maken</h1>

    <div class="row">
      <div class="column column__content">
        <div class="row">
          <div class="column column--datepicker">
            <p>Kies een dag</p>
            <%- partial('components/datepicker') %>
          </div>
          <div class="column column--timepicker">
            <p>Kies een tijdstip</p>
            <ul class="time-list">
              <li class="time-list__item"><a href="" class="time-list__link">09.00 - 10.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link is-active">10.00 - 11.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">11.00 - 12.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link is-selected">12.00 - 13.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">13.00 - 14.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">14.00 - 15.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">15.00 - 16.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">16.00 - 17.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">17.00 - 18.00</a></li>
              <li class="time-list__item"><a href="" class="time-list__link">18.00 - 19.00</a></li>
            </ul>
          </div>
        </div>

        <div class="datepicker-info">
          Geselecteerd: <span class="datepicker-info__date"> Morgen (vrijdag 26 mei) </span> tussen
          <span class="datepicker-info__time">11:00 en 12:00 </span> uur
        </div>
      </div>
      <div class="column column__sidebar hide-mobile">
        <%- partial('partials/funnel/sidebar/receipt') %>
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>
    </div>
  </div>
</div>
<div class="section section--alternative">
  <div class="container">
    <div class="row">
      <div class="column column__content">
        <h2 class="section-title">Klusdetails</h2>
        <p>
          Om je zo goed mogelijk te kunnen helpen willen we graag zo veel mogelijk weten van de klus en de huidige
          staat of situatie.
          Je kunt de velden leeglaten als je denkt dat er weinig informatie (meer) bij nodig is.
        </p>

        <div class="form">
          <div class="form__group">
            <label for="description" class="form__label">
              Is er iets wat we van tevoren moeten weten over de klus?
            </label>
            <textarea name="description" id="description"class="form__control"></textarea>
          </div>
          <div class="form__group form__group--photo">
            <p for="photo" class="form__label">
              Voeg foto's toe die de situatie ophelderen
            </p>

            <div class="form__control">
              <%- partial('components/photo-upload') %>
            </div>
            <p class="form__label--counter">
              <span class="photo-upload__counter">0</span>/4 toegevoegd
            </p>
          </div>
        </div>

        <div class="form__buttons">
          <a href="/funnel/" class="btn btn--link btn--link-icon form__button--back">terug</a>
          <a href="" class="btn js-btn-submit form__button--submit">Volgende stap</a>
        </div>
      </div>
      <div class="column column__sidebar show-mobile">
        <%- partial('partials/funnel/sidebar/receipt') %>
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>
    </div>
  </div>
</div>
