<form action="" class="form form--funnel-search">
  <i class="icon-search funnel-search__icon"></i>
  <input type="text" placeholder="Zoek je klus" class="form__control form__control--funnel-search"/>
</form>

<ul class="filter-list">
  <li class="filter-list__item"><a href="" class="filter-list__btn" data-category-id="*">Alles</a></li>
  <% categories.forEach(category => { %>
  <li class="filter-list__item"><a href="" class="filter-list__btn" data-category-id="<%= category.IdJobCategory %>"><%= category.Name %></a></li>
  <% }) %>
</ul>


<div class="search-results">
  <ul class="result-list">
    <% categories.forEach(category => { %>
      <% category.Jobs.forEach(job => { %>
        <li class="result-list__item" data-category-id="<%= category.IdJobCategory %>">
          <a href="" class="result-list__link" data-job-id="<%= job.IdJob %>"><%= job.Description %></a>
        </li>
      <% }) %>
    <% }); %>
  </ul>
</div>
