<div class="job-selection">


  <div class="filter-list">
    <h6 class="filter-list__title">Filter overziht</h6>

    <ul class="filter-list__items">
      <li class="filter-list__item">
        <a href="#" class="filter-list__link is-active" data-category-id="*">
          Alles
        </a>
      </li>
      <% categories.forEach(category => { %>
      <li class="filter-list__item">
        <a href="#" class="filter-list__link" data-category-id="<%= category.IdJobCategory %>">
          <%= category.Name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>


  <div class="list-overview">


    <h6>Router installeren</h6>
    <div class="row list-overview__details">
      <div class="col-3 col-sm-12">Afspraaknummer
        <div>SDFGS234</div>
      </div>
      <div class="col-5 col-sm-12">Vandaag, donderdag 13 september 10:00 - 11:00 uur</div>
      <div class="col-3 col-sm-12">€50,-</div>
    </div>
    <div>
      <ul class="list-overview__list">
        <% ['Bekijk details','Afspraak wijzigen','Afspraak annuleren'].forEach((text, index) => { %>
        <li class="list-overview__item">
          <a href="#" class="list-overview__link"><span class="list-overview__text"><%= text %></span></a>
        </li>
        <% }) %>
      </ul>

    </div>
  </div>
  <div class="filter-list job-selection__filters">
    <h6 class="filter-list__title">Filter klussen</h6>

    <ul class="filter-list__items">
      <li class="filter-list__item">
        <a href="#" class="filter-list__link is-active" data-category-id="*">
          Alles
        </a>
      </li>
      <% categories.forEach(category => { %>
      <li class="filter-list__item">
        <a href="#" class="filter-list__link" data-category-id="<%= category.IdJobCategory %>">
          <%= category.Name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>

  <div class="job-selection__jobs">
    <ul class="job-list">
      <% categories.forEach(category => { %>
      <% category.Jobs.forEach(job => { %>
      <li class="job-list__item" data-category-id="<%= category.IdJobCategory %>">
        <a href="" class="job-list__link" data-job-id="<%= job.IdJob %>"><%= job.Description %></a>
      </li>
      <% }) %>
      <% }); %>
    </ul>
  </div>
</div>
