<div class="job-overview">
  <% categories.forEach((category, idx) => { %>
  <div class="job-overview__item <%- (idx == categories.length -1)? 'job-overview__item--wide':'' %>">
    <div class="job-overview__block">
      <h6 class="job-overview__title"><%- category.Name %></h6>
      <ul class="job-overview__links <%- (idx == categories.length -1)? 'job-overview__links--wide':'' %>">
        <% category.Jobs.forEach(job => { %>
        <li class="job-overview__links-item">
          <a class="job-overview__links-link" href="/ons-klusaanbod/<%- job.IdJob %>-<%- Slugify(job.Name) %>" data-modal="klus-informatie/<%- job.IdJob %>/selecteren"><%- job.Name %></a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <% }); %>
</div>

