<li class="order-overview__order-item" data-order-status="Aankomend">
  <h6><%= order.job.Name %></h6>
  <div class="row order-overview__order-row">
    <div class="col-xl-3 col-lg-3 col-md-3 order-overview__order-col">
      Afspraaknummer<br>
      <%= order.IdJob %>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-3 order-overview__order-col">
      <%= LocaleDate(order.FulfillmentDateTime) %> <%= LocaleTime(order.FulfillmentDateTime) %> uur
    </div>
    <div class="col-xl-3 col-lg-3 col-md-2 order-overview__order-col">
      € <%= Currency(user.HasSubscription ? order.job.DiscountPrice : order.job.NormalPrice) %>
    </div>
  </div>
  <ul class="list list--links">
    <li><a href="#" class="link" data-modal="appointment-cancel/<%= order.IdOrder %>"><span>Afspraak annuleren</span></a></li>
  </ul>
</li>
