<ul class="breadcrumbs">
  <% [['Kies een klus','/funnel/'],['Maak een afspraak','/funnel/maak-een-afspraak'],['Persoonsgegevens','/funnel/contact-details'],['Klaar']].forEach((link, index) => { %>
    <li class="breadcrumbs__item <%- currentStep == (index + 1) ? 'is-active' : '' %>">
      <% if (index < currentStep && currentStep != 4) { %>
      <a href="<%- link[1] %>" class="breadcrumbs__link"><%- index + 1 %>. <span class="breadcrumbs__text"><%= link[0] %></span></a>
      <% } else { %>
      <%- index + 1 %>. <span class="breadcrumbs__text"><%= link[0] %></span>
      <% } %>
    </li>
  <% }) %>
</ul>
