<div class="job-selection">
  <form class="form job-selection__form" data-target="">
    <div class="form__group">
      <i class="icon-magnifying-glass form__control-icon"></i>
      <input type="text" placeholder="Zoek je klus" class="form__control"/>
    </div>
  </form>

  <%- partial('components/filter-list', {
    title: 'Filter klussen',
    titleAll: 'Alles',
    className: 'job-selection__filters',
    items: categories.map(category => ({
      title: category.Name,
      value: category.IdJobCategory
    }))
  }) %>
  <div class="job-selection__jobs">
    <ul class="job-list">
      <% categories.forEach(category => { %>
      <% category.Jobs.forEach(job => { %>
      <li class="job-list__item" data-category-id="<%= category.IdJobCategory %>">
        <a href="#" class="job-list__link" data-job-id="<%= job.IdJob %>" data-modal="klus-informatie/<%= job.IdJob%>/selecteren"><%= job.Description %></a>
      </li>
      <% }) %>
      <% }); %>
    </ul>
  </div>
</div>
