<% layout('layouts/default') %>

<div class="section section--alternative">
  <div class="container">
    <h1>Welkom terug Gerard!</h1>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-5 col-sm-4">

        <p>Op deze pagina vind je een overzicht van al je klussen.</p>
        <div class="selection">

          <div class="filter-list selection__filters">
            <h6 class="filter-list__title">Filter overziht</h6>

            <ul class="filter-list__items">
              <li class="filter-list__item">
                <a href="#" class="filter-list__link is-active" data-category-id="*">
                  Alles klussen
                </a>
              </li>
              <% categories.forEach(category => { %>
              <li class="filter-list__item">
                <a href="#" class="filter-list__link" data-category-id="<%= category.IdJobCategory %>">
                  <%= category.Name %>
                </a>
              </li>
              <% }) %>
            </ul>
          </div>

          <div class="selection__results">
            <ul class="jobs-list">
              <li class="job-list__item job-list__item--alternative" data-category-id="1">
                  <h6>Router installeren</h6>
                  <div class="row job-list__row">
                    <div class="col-lg-3 col-md-3 col-sm-12 job-list__col">Afspraaknummer
                      <br> SDFGS234
                    </div>
                    <div class="col-lg-5 col-md-3 col-sm-12 job-list__col">Vandaag, donderdag 13 september 10:00 - 11:00 uur</div>
                    <div class="col-lg-3 col-md-2 col-sm-12 job-list__col">€50,-</div>
                  </div>
                  <div>
                    <ul class="list list--links">
                      <% ['Bekijk details', 'Afspraak wijzigen', 'Afspraak annuleren'].forEach((text, index) => { %>
                      <li>
                        <a href="#" class="link"><span><%= text %></span></a>
                      </li>
                      <% }) %>
                    </ul>

                  </div>
              </li>
              <li class="job-list__item job-list__item--alternative" data-category-id="1">
                  <h6>Router installeren</h6>
                  <div class="row job-list__row">
                    <div class="col-lg-3 col-md-3 col-sm-12 job-list__col">Afspraaknummer
                      <br> SDFGS234
                    </div>
                    <div class="col-lg-5 col-md-3 col-sm-12 job-list__col">Vandaag, donderdag 13 september 10:00 - 11:00 uur</div>
                    <div class="col-lg-3 col-md-2 col-sm-12 job-list__col">€50,-</div>
                  </div>
                  <div>
                    <ul class="list list--links">
                      <% ['Bekijk details', 'Afspraak wijzigen', 'Afspraak annuleren'].forEach((text, index) => { %>
                      <li>
                        <a href="#" class="link"><span><%= text %></span></a>
                      </li>
                      <% }) %>
                    </ul>
                    <div class="feedback">rating</div>
                  </div>
              </li>
              <li class="job-list__item job-list__item--alternative" data-category-id="2">
                  <h6>Afgerond</h6>
                  <div class="row job-list__row">
                    <div class="col-lg-5 col-md-3 col-sm-12 job-list__col">
                      <div>blabla</div>
                      <div>Donderdag 13 september</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 job-list__col">Afspraaknummer
                      <br> SDFGS234
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12 job-list__col">€40,-</div>
                  </div>
                  <div>
                    <ul class="list list--links">
                      <% ['Bekijk details', 'Factuur downloaden'].forEach((text, index) => { %>
                      <li>
                        <a href="#" class="link"><span><%= text %></span></a>
                      </li>
                      <% }) %>
                    </ul>
                  </div>
              </li>
              <li> <h3>2016</h3></li>
              <li class="job-list__item job-list__item--alternative" data-category-id="2">
                  <h6>Afgerond</h6>
                  <div class="row job-list__row">
                    <div class="col-lg-5 col-md-3 col-sm-12 job-list__col">
                      <div>CV ketel vervangen</div>
                      <div>Donderdag 13 september</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 job-list__col">Afspraaknummer
                      <br> SDFGS234
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12 job-list__col">€450,-</div>
                  </div>
                  <div>
                    <ul class="list list--links">
                      <% ['Bekijk details', 'Factuur downloaden'].forEach((text, index) => { %>
                      <li>
                        <a href="#" class="link"><span><%= text %></span></a>
                      </li>
                      <% }) %>
                    </ul>
                  </div>
              </li>
              <li class="job-list__item job-list__item--alternative" data-category-id="3">
                  <h6 class="warning">Klus geannuleerd</h6>
                  <div class="row job-list__row">
                    <div class="col-lg-5 col-md-3 col-sm-12 job-list__col">
                      <div>Wasmachine reparatie</div>
                      <div>Donderdag 13 september</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 job-list__col">Afspraaknummer
                      <br> SDFGS234
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12 job-list__col">€84,50</div>
                  </div>
                  <div>
                    <ul class="list list--links">
                      <% ['Bekijk details'].forEach((text, index) => { %>
                      <li>
                        <a href="#" class="link"><span><%= text %></span></a>
                      </li>
                      <% }) %>
                    </ul>

                  </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-4">
        <%- partial('partials/funnel/sidebar/receipt--with-edit') %>
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>
    </div>
  </div>
</div>



