<% layout('layouts/default') %>

<div class="section section--alternative">
  <div class="container">
    <h1>Welkom terug <%= user.FirstName %>!</h1>
    <p>Op deze pagina vind je een overzicht van al je klussen.</p>
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-5 col-sm-4">

        <%- partial('components/filter-list', {
          title: 'Filter overzicht',
          titleAll: 'Alles klussen',
          className: 'order-overview__filters',
          items: ['Aankomend','Afgerond','Geannuleerd'].map((title,idx) => ({value: title, title})),
          target: '.order-overview'
        }) %>
      </div>
      <div class="col-xl-4 col-lg-4 col-offset-lg-1 col-offset-xl-1 col-md-3 col-sm-4 col--overflow hidden-sm-down">
        <%- partial('partials/sidebar/personal-details', {HasEditLink: true}) %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-5 col-sm-4">
        <%- partial('partials/account/order-overview', {orders}) %>
      </div>
      <div class="col-xl-4 col-lg-4 col-offset-lg-1 col-offset-xl-1 col-md-3 col-sm-4 hidden-md-up">
        <%- partial('partials/sidebar/personal-details', {HasEditLink: true}) %>
      </div>
    </div>
  </div>
</div>
